/* -------------------------------------------------------------
 1.0 Site footer
 ------------------------------------------------------------- */
.footer
	display: block
	width: calc(100% + 30px)
	margin: -15px
	padding: 10px 15px
	position: relative
	color: $light-text
