/* -------------------------------------------------------------
 1.0 Site footer
 ------------------------------------------------------------- */
.footer
	display: block
	width: 100%
	padding: 10px 0
	position: relative
	color: $light-text
	background-color: $bg-footer
	a
		color: $light-text
