$main-font: Arial, Helvetica, sans-serif;

// ========================================
// Colors
// ========================================
$light-main: #fff;
$main-color: #eb1c2a;
$light-text: $main-color;
$text-color: #717171;
$dark-text: #3e3e3e;

// ========================================
// Backgrounds
// ========================================
$bg-body: $light-main;
$bg-secundary: #102beb;

// ========================================
// Grids - Sizes and Columns
// ========================================
$max-size: 1200px;
$sizes: (mx,$max-size,12,last), (sm,699px,6), (ph,520px,2);