#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.image-bg {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;

    img {
        display: block;
        width: auto;
        min-width: 100%;
        height: 100vh;
        position: absolute;
        bottom: 0;
        transform: scale(1.2);
        will-change: transform;
        animation: kenburns 40s infinite;
    }
}

@keyframes kenburns {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.form-include {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    &__box {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 15px;

        @media screen and (min-width: 521px) {
            padding-left: 15px;
            padding-right: 15px;

            &:first-child {
                padding-left: 0px;
            }

            &:last-child {
                padding-right: 0px;
            }
        }

        @media screen and (min-width: 521px) and (max-width: 699px) {
            &:last-child {
                padding-left: 0px;
            }

            &:nth-child(2) {
                padding-right: 0px;
            }
        }

        input,
        button {
            display: block;
            width: 100%;
        }

        label {
            margin-bottom: 10px;
            color: $dark-text;
        }
    }
}

.list {
    display: block;
    padding: 0px;
    margin-bottom: 10px;
    color: $dark-text;
    list-style-type: none;
    list-style-position: inside;

    .col {
        padding-left: 15px;
        padding-right: 15px;

        &:last-child {
            padding-right: 0px;
        }

        @media screen and (max-width: 699px) {
            margin-bottom: 10px;
        }

        @media screen and (min-width: 521px) and (max-width: 699px) {
            &.list__price-uni {
                padding-left: 0px !important;
            }
        }
    }

    &__title {
        @media screen and (max-width: 699px) {
            display: none;
        }
    }

    &__prod {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #dcdcdc;

        &:last-child,
        &:only-child {
            border-bottom: none;
        }
    }

    &__name-prod {
        display: inline-block;
        padding: 5px 15px 5px 30px;
        position: relative;
        text-transform: capitalize;
        cursor: pointer;

        &.checked {
            color: $text-color;
            text-decoration: line-through;
        }
    }

    &__label-prod {
        color: $dark-text;

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid $text-color;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px;
        }

        &.checked {
            &:before {
                background: url(./assets/icon-check.svg);
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__checkbox {
        position: absolute;
        left: 0;
        opacity: 0;

        &:checked+label {
            color: $text-color;
            text-decoration: line-through;

            &:before {
                background: url(./assets/icon-check.svg);
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__btn {
        height: 36px;
        padding: 5px 0px;
        background: $main-color;
        border-color: $main-color;
        text-align: center;

        svg {
            display: block;
            margin: auto;
            width: 16px;
            height: 16px;
        }
    }

    &__qtd-prod {
        @media screen and (max-width: 699px) {
            &:before {
                content: 'Qtd: ';
            }
        }
    }

    &__price-uni {
        @media screen and (max-width: 699px) {
            &:before {
                content: 'Preço Unitário: ';
            }
        }
    }

    &__title {
        .list__price-total {
            &:before {
                content: '';
            }
        }
    }
}

.text-center {
    text-align: center;
}

.sort {
    &__select {
        position: relative;

        select {
            padding-left: 25px;
        }
    }

    &__icon {
        width: 20px;
        position: absolute;
        top: 6px;
        left: 5px;
    }

    &.bt {
        margin-bottom: 15px;
    }
}