@use "../reset/variables";

.header {
	display: block;
	width: calc(100% + 30px);
	margin-left: -15px;
	z-index: 1000;
	padding: 10px 0px;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
}


.footer {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 0px 15px;
    border-top: 1px solid #dcdcdc;
    position: relative;
    color: variables.$dark-text;

    p {
        text-align: right;
        font-size: 1.8rem;
    }
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.image-bg {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;

    img {
        display: block;
        width: auto;
        min-width: 100%;
        height: 100vh;
        position: absolute;
        bottom: 0;
        transform: scale(1.2);
        will-change: transform;
        animation: kenburns 40s infinite;
    }
}

@keyframes kenburns {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.form-include {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    &__box {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 15px;

        @media screen and (min-width: 521px) {
            padding-left: 15px;
            padding-right: 15px;

            &:first-child {
                padding-left: 0px;
            }

            &:last-child {
                padding-right: 0px;
            }
        }

        @media screen and (min-width: 521px) and (max-width: 699px) {
            &:last-child {
                padding-left: 0px;
            }

            &:nth-child(2) {
                padding-right: 0px;
            }
        }

        input,
        button {
            display: block;
            width: 100%;
        }

        label {
            margin-bottom: 10px;
            color: variables.$dark-text;
        }
    }
}

.list {
    display: block;
    padding: 0px;
    margin-bottom: 10px;
    color: variables.$dark-text;
    list-style-type: none;
    list-style-position: inside;

    .col {
        padding-left: 15px;
        padding-right: 15px;

        &:last-child {
            padding-right: 0px;
        }

        @media screen and (max-width: 699px) {
            margin-bottom: 10px;
        }

        @media screen and (min-width: 521px) and (max-width: 699px) {
            &.list__price-uni {
                padding-left: 0px !important;
            }
        }
    }

    &__title {
        @media screen and (max-width: 699px) {
            display: none;
        }
    }

    &__prod {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #dcdcdc;

        &:last-child,
        &:only-child {
            border-bottom: none;
        }
    }

    &__name-prod {
        display: inline-block;
        padding: 5px 15px 5px 30px;
        position: relative;
        text-transform: capitalize;
        cursor: pointer;

        &.checked {
            color: variables.$text-color;
            text-decoration: line-through;
        }
    }

    &__label-prod {
        color: variables.$dark-text;

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid variables.$text-color;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px;
        }

        &.checked {
            &:before {
                background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iOTEuNiAzMTAgNDE1LjUgMjM0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDkxLjYgMzEwIDQxNS41IDIzNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQoJPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzcxNzE3MSIgc3Ryb2tlLXdpZHRoPSI1MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iDQoJMTI4LjUsNDA1LjQgMjE0LjMsNTE1LjIgNDY4LjUsMzUxLjQgIi8+DQo8L3N2Zz4NCg==");
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__checkbox {
        position: absolute;
        left: 0;
        opacity: 0;

        &:checked+label {
            color: variables.$text-color;
            text-decoration: line-through;

            &:before {
                background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iOTEuNiAzMTAgNDE1LjUgMjM0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDkxLjYgMzEwIDQxNS41IDIzNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQoJPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzcxNzE3MSIgc3Ryb2tlLXdpZHRoPSI1MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iDQoJMTI4LjUsNDA1LjQgMjE0LjMsNTE1LjIgNDY4LjUsMzUxLjQgIi8+DQo8L3N2Zz4NCg==");
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__btn {
        height: 36px;
        padding: 5px 0px;
        background: variables.$main-color;
        border-color: variables.$main-color;
        text-align: center;

        svg {
            display: block;
            margin: auto;
            width: 16px;
            height: 16px;
        }
    }

    &__qtd-prod {
        @media screen and (max-width: 699px) {
            &:before {
                content: 'Qtd: ';
            }
        }
    }

    &__price-uni {
        @media screen and (max-width: 699px) {
            &:before {
                content: 'Preço Unitário: ';
            }
        }
    }

    &__title {
        .list__price-total {
            &:before {
                content: '';
            }
        }
    }
}

.text-center {
    text-align: center;
}

.sort {
    &__select {
        position: relative;

        select {
            padding-left: 25px;
        }
    }

    &__icon {
        width: 20px;
        position: absolute;
        top: 6px;
        left: 5px;
    }

    &.bt {
        margin-bottom: 15px;
    }
}

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(10, 10, 10, .86);
    z-index: 1000;

    &.-show {
        display: flex;
    }

    &__content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: calc(100vw - 40px);
        max-width: 460px;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0px 0px 15px 5px rgba(10, 10, 10, 0.6);
        animation: notif 0.42s;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        position: relative;
        background-color: variables.$main-color;
        color: variables.$light-main;
        font-weight: 700;
        line-height: 1.25;
        border-radius: 4px 4px 0 0;
    }

    &__title {
        font-weight: 700;
        text-transform: capitalize;
    }

    &__close {
        display: inline-block;
        height: 20px;
        width: 20px;
        padding: 0px;
        margin-bottom: auto;
        position: relative;
        vertical-align: top;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 15px;
            height: 3px;
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: #fff;
            transform-origin: center center;
        }

        &:before {
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }

        &:after {
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
    }

    &__body {
        max-height: 80vh;
        padding: 1.25em 1.5em;
        color: variables.$dark-text;
        background-color: #fff;
        overflow-y: auto;

        @media screen and (min-height: 520px) {
            max-height: 400px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        position: relative;
        background-color: #fff;
        color: variables.$light-main;
        font-weight: 700;
        line-height: 1.25;
        border-top: 1px solid #dcdcdc;

        button {
            width: auto;
        }
    }

    &__qtd {
        display: flex;
        justify-content: space-between;
        width: 230px;
        margin-top: 10px;
        padding: 0px;
        border: none;

        &-btn {
            width: 40px;
            background-color: #040a3b;
            border-color: #040a3b;

            &[disabled] {
                background-color: #7c7c7c;
                border-color: #7c7c7c;
                opacity: .3;
            }
        }

        input {
            width: 120px;
            text-align: center;
        }
    }

    &__delete {
        background-color: variables.$main-color;
        border-color: variables.$main-color;
    }
}

@keyframes notif {
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
};