/* -------------------------------------------------------------
 1.0 Site footer
 ------------------------------------------------------------- */
.footer {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 0px 15px;
    border-top: 1px solid #dcdcdc;
    position: relative;
    color: $dark-text;

    p {
        text-align: right;
        font-size: 1.8rem;
    }
}